* {
    border: 1px solid black;
}

body{
    width:780px;
    margin: auto;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.infophoto{
    height : 200px;
}
.info{
    float:left;
    line-height: 0.8;
}
.photo{
    float:right;
    margin-top: 30px;
}

.section{
    margin-bottom: 50px; 
    text-align: justify; 
    align-content: center;
    font-size: 16px;
}
.secg{
    float: left;
    font-weight: bold;
    margin top: 30px;
}
.secd{
    margin-left: 170px;
    margin-top: 30px;
}

h1{
    font-size: 26px;  
}
h2{
    font-size: 28px;
    color: teal;
    font-variant: small-caps;
    border-bottom: 3px solid teal;
    display: block;
    width: 100%;
}









img{
    max-height: 150px;
    width: auto;
}